

.bg {
  	background: #82C8F2;
  	width: 80%;
  	height: 400px;
  	margin-left: 10%;
  
}

.letter{
  	display: inline-block;
  	font-weight: 900;
  	font-size: 8em;
  	margin: 0.4em;
  	position: relative;
  	color: #00B4F1;
  	transform-style: preserve-3d;
  	perspective: 400;
  	z-index: 1;
}
.letter:before, .letter:after{
  	position:absolute;
  	content: attr(data-letter);
  	transform-origin: top left;
  	top:0;
  	left:0;
}
.letter, .letter:before, .letter:after{
  	transition: all 0.3s ease-in-out;
}
.letter:before{
  	color: #fff;
  	text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
 	 z-index: 3;
  	transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  	color: rgba(0,0,0,.11);
  	z-index:2;
  	transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  	color: #fafafa;
  	transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}


.aboutSpace {
  	padding-top: 150px;
  	height: 350px;
  	color: white;
  	text-shadow: #444 0 1px 1px;
  	background:transparent;
}

.aboutSpace i {
	margin-left: -50px;
	font-size: 200%;
}


/* sizes */
#main-wrap > div { min-height: 450px; }

/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
  	width: 80%;
  	margin-left: 10%;
}

#sidebar {
    float: left;
    width: 20%;
}


.vertical-menu {
    position: relative;
    width: 200px;
    margin-top: 50px;
}



.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    margin: 10px, 10px, 10px, 10px;
    padding: 12px;
    text-decoration: none;
}


#content-wrap {
	float: left;
	margin-top: 50px;
	margin-left: 5%;
    width: 70%;
}

.contentAbout {
  	width: 95%;
  	height: 300px;
  	margin-left: 40px;
  	margin-right: 20px;
}

.contentAbout h2{
	color: #82C8F2;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;

}

.contentAbout p{
	float: left;
	line-height: 30px;
	font-size: 120%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 4px #82C8F2;
}

.contentAbout li{
	float: left;
	line-height: 30px;
	font-size: 120%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 4px #82C8F2;
}


.contentMission {
  	width: 95%;
  	height: 300px;
  	margin-top: 20px;
  	margin-left: 40px;
  	margin-right: 20px;
}  

.contentMission h2{
	color: #82C8F2;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.contentMission p{
	float: left;
	line-height: 30px;
	font-size: 120%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}    


.contentTeam {
    border-color: #82C8F2;
  	width: 95%;
  	height: 300px;
  	margin-left: 40px;
  	margin-right: 20px;
  	margin-top: 20px;
}

.contentTeam h2{
	color: #82C8F2;

}


/* Three columns side by side */
.column {
    float: left;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 16px;
    margin-left: 10px;
    padding: 0 8px;
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: relative;
}

.button:hover {
    background-color: #555;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
	margin-left: 10%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #82C8F2;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}


.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
	margin-right: 10%;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}





