/* ------------- Body ------------ */
@font-face ***REMOVED***
    font-family: Source Sans Pro;
    src: url(./assets/fonts/SourceSansPro-Regular.otf);
***REMOVED***

@font-face ***REMOVED***
    font-family: Avenir Next;
    src: url(./assets/fonts/AvenirNext.ttc);
***REMOVED***

body ***REMOVED***
    background-color: #2F394C;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: .9em;
    line-height: 1em;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
***REMOVED***

html ***REMOVED***
    overflow: scroll;
    overflow: -moz-scrollbars-none;
***REMOVED***

::-webkit-scrollbar ***REMOVED***
    display: none;
    width: 7px;
***REMOVED***

::-webkit-scrollbar-track ***REMOVED***
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
***REMOVED***

::-webkit-scrollbar-thumb ***REMOVED***
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
***REMOVED***

::-webkit-scrollbar-thumb:hover ***REMOVED***
    background: rgba(0, 0, 0, 0.4);
***REMOVED***

::-webkit-scrollbar-thumb:window-inactive ***REMOVED***
    background:rgba(0, 0, 0, 0.05);
***REMOVED***

::-webkit-scrollbar-track ***REMOVED***
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
***REMOVED***

::-webkit-scrollbar-thumb ***REMOVED***
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.2);
***REMOVED***

::-webkit-scrollbar-thumb:hover ***REMOVED***
    background:rgba(0, 0, 0, 0.4);
***REMOVED***

::-webkit-scrollbar-thumb:window-inactive ***REMOVED***
    background:rgba(0, 0, 0, 0.05);
***REMOVED***

/* link options */
a ***REMOVED***
    font-family: "Source Sans Pro", sans-serif;
***REMOVED***

/* ------------- Bottom Bar ------------ */

#leftSide, #rightSide, #generateFilters, #closeButton, #geneatePlaylistBtn ***REMOVED***
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
***REMOVED***

#bottom-bar ***REMOVED***
    position: fixed;
    bottom: 0;
    width: 82%;
***REMOVED***

#slideout ***REMOVED***
    background: #212938;
    border-top: 1px solid #242A34;
    border-right: 1px solid #242A34;
    position: relative;
    bottom: 0%;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    max-height: 0px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
***REMOVED***

#slideout.on ***REMOVED***
    max-height: 200px;
***REMOVED***

.button_slide ***REMOVED***
    position: relative;
    left: 50%;
    width: 36px;
    margin-left: -18px;
    margin-bottom: 2px;
    background-color: #4B9877; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
***REMOVED***

#innerRightDiv ***REMOVED***
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
***REMOVED***

#leftSide ***REMOVED***
    margin-left: 2%;
    width: 48%;
    height: 100%;
    float: left;
***REMOVED***

#rightSide ***REMOVED***
    width: 50%;
    height: 100%;
    float: left;
***REMOVED***

/*  ------------- Checkboxes ------------ */

/* Customize the label (the container) */
.container2 ***REMOVED***
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
***REMOVED***

/* Hide the browser's default checkbox */
.container2 input ***REMOVED***
    position: absolute;
    opacity: 0;
***REMOVED***

/* Create a custom checkbox */
.checkmark ***REMOVED***
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
***REMOVED***

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark ***REMOVED***
    background-color: #ccc;
***REMOVED***

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark ***REMOVED***
    background-color: #2196F3;
***REMOVED***

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after ***REMOVED***
    content: "";
    position: absolute;
    display: none;
***REMOVED***

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after ***REMOVED***
    display: block;
***REMOVED***

/* Style the checkmark/indicator */
.container2 .checkmark:after ***REMOVED***
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
***REMOVED***

/* ------------- Header ------------ */
#tophead ***REMOVED***
    height: 60px;
    margin: 0;
    background-color: #252F41;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-bottom: .5px solid #242A34;
***REMOVED***

.navbar ***REMOVED***
    position: fixed;
    height: 60px;
    width: 100%;
    vertical-align: middle;
    top: 15px;
    padding-left: 2vh;
    overflow: hidden;
***REMOVED***

.floatright ***REMOVED***
    position: fixed;
    font-size: 1.5em;
    font-weight: normal;
    right: 0;
    color: white;
    vertical-align: middle;
    top: 15px;
    padding-right: 10vh;
***REMOVED***

.floatright a ***REMOVED***
    color: #fff;
***REMOVED***

.navbar a ***REMOVED***
    vertical-align: middle;
    display: block;
    height: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: #fff;
    border: 1px solid #4B9877;
    float: left;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    font-size: .8em;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    border-radius: 0;
***REMOVED***

.navbar a:hover ***REMOVED***
    color: #fff;
    background-color: #4B9877;
    border-color: #4B9877;
    transition-property: all;
    transition-duration: .5s;
***REMOVED***

.navbar a:active ***REMOVED***
    background-color: #4B9877;
***REMOVED***

.navbar .icon ***REMOVED***
    display: none;
***REMOVED***

.navbar ul ***REMOVED***
    list-style-type: none;
    margin: 0;
    padding: 0;
***REMOVED***

.navbar li ***REMOVED***
    display: inline;
***REMOVED***
  
.littleleft ***REMOVED***
    margin-left: 25px;
***REMOVED***


/* ------------- Top nav bar responsive  ------------ */
@media screen and (min-width: 1000px)***REMOVED***
    .menu-toggle, .helphide, .logouthide***REMOVED***
        display:none !important;
    ***REMOVED***
    
    .menu-toggle,
    .main-menu .menu-close ***REMOVED***
        display: none;
    ***REMOVED***
    
    .main-menu .menu-toggle ***REMOVED***
        display:none;
    ***REMOVED***
***REMOVED***

.sr-only ***REMOVED***
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
***REMOVED***

@media screen and (max-width: 1000px) ***REMOVED***

    .logouthide2 ***REMOVED***
        display: none !important;
    ***REMOVED***
    
    .helphide ***REMOVED***
        display: inline-block;
    ***REMOVED***
    
    .littleleft ***REMOVED***
        margin: 0;
    ***REMOVED***
    
    .menu-toggle ***REMOVED***
        display: inline-block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        border:none !important;
    ***REMOVED***
    
    .main-menu ***REMOVED***
        position: absolute;
        left: -200px;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 999;
    ***REMOVED***
    
    .main-menu ul ***REMOVED***
        list-style: none;
        margin: 0;
        padding: 2.5em 0 0;
        /* Hide shadow w/ -8px while 'closed' */
        -webkit-box-shadow: -8px 0 8px rgba(20, 20, 20, .5);
        -moz-box-shadow: -8px 0 8px rgba(20, 20, 20, .5);
        box-shadow: -8px 0 8px rgba(20, 20, 20, .5);
        min-height: 100%;
        width: 200px;
        background: #212939;
    ***REMOVED***

    .main-menu li ***REMOVED***
        display: block;
        width: 100%;
    ***REMOVED***

    .main-close ***REMOVED***
    ***REMOVED***
    
    .main-close a ***REMOVED***
        display: inline-block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
    ***REMOVED***
    
    .main-menu a ***REMOVED***
        display: inline-block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
    ***REMOVED***
    
    .main-menu li:first-child a ***REMOVED***
        border-top: 1px solid #383838;
    ***REMOVED***

    .main-menu a:hover,
    .main-menu a:focus ***REMOVED***
        background: #333;
        text-decoration: underline;
    ***REMOVED***

    .main-menu .menu-close ***REMOVED***
        position: absolute;
        right: 0;
        top: 0;
    ***REMOVED***

    .main-menu:target,
    .main-menu[aria-expanded="true"] ***REMOVED***
        left: 0;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(20, 20, 20, .25);
        -webkit-box-shadow: 3px 0 12px rgba(20, 20, 20, .25);
        box-shadow: 3px 0 12px rgba(20, 20, 20, .25);
    ***REMOVED***

    .main-menu:target .menu-close,
    .main-menu[aria-expanded="true"] .menu-close ***REMOVED***
        z-index: 1001;
    ***REMOVED***

    .main-menu:target ul,
    .main-menu[aria-expanded="true"] ul ***REMOVED***
        position: relative;
        z-index: 1000;
    ***REMOVED***
    
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop ***REMOVED***
        position: absolute;
        display: block;  
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background: #252F41;
        background: rgba(20, 20, 20, .85);
        cursor: default;
    ***REMOVED***

    @supports (position: fixed) ***REMOVED***
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop ***REMOVED***
            position: fixed;
        ***REMOVED***
    ***REMOVED***
    
    .navbar a ***REMOVED***
        border:none;
        display:block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
    ***REMOVED***
***REMOVED***

/* ------------- Sidebar ------------ */

#sidebar ***REMOVED***
    z-index: 5;
    position: fixed;
    right: 0;
    width: 18%;
    height: calc(100vh - 60px);
    background-color: #252F41;
    border-left: .5px solid #242A34;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
***REMOVED***

.line-div ***REMOVED***
    width: 100%;
    bottom: 0;
    border-bottom: .5px solid #242A34;
    padding-top: 1%;
***REMOVED***

#detailsSVG ***REMOVED***
    width: 100%;
***REMOVED***

#detailsGenres***REMOVED***
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    line-height: 16px;
    background-color: #282828;
    display: none;
    padding: 5px 10px 5px 10px;
***REMOVED***

.artabout***REMOVED***
    font-family: "Source Sans Pro", sans-serif;
    color:#E5E4E5;
    font-weight: normal;
    font-size: .8em;
    font-height: .8em;
    margin-top: 5px;
    margin-bottom: 10px;
***REMOVED***

.artabout h2***REMOVED***
    font-size: 1.05em;
***REMOVED***

#generateFilters ***REMOVED***
    width: 87%;
    height: 130px;
    margin-left: 5%;
    margin-right: 8%;
***REMOVED***

#generatedPlaylistTracks ***REMOVED***
    display: none;
***REMOVED***

.trackBox ***REMOVED***
    font-size: .8em;
    position: relative;
    width: 90%;
    padding: 5%;
    background-color: #212938;
    outline: .5px solid #1f2126;
    color: #959da0;
***REMOVED***

.trackBoxText ***REMOVED***
    width: 90%;
***REMOVED***

#selectedTracks, #selectedArtists ***REMOVED***
    width: 100%;
***REMOVED***

#closeButton ***REMOVED***
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-weight: bold;
    font-size: 18px;
    color: red;
    cursor: pointer;
***REMOVED***

/* Artist and track container, contains an SVG for the 'Details' bars. */
#at-container ***REMOVED***
    width: 100%;
    height: 204px;
***REMOVED***

.tabnav ***REMOVED***
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
***REMOVED***

.tablink ***REMOVED***
  flex: 1;
  font-size: .9em;
  margin-right: 4px;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #01B482;
  text-align: center;
  transition: color 0.3s;
  height: 15px;

***REMOVED***

.tablinkside ***REMOVED***
***REMOVED***

.tablink a ***REMOVED***
    font-size: 1em;
    letter-spacing: 1em;
***REMOVED***

.tablink: last-child ***REMOVED***
  margin-right: 0;
***REMOVED***

.tablink: hover ***REMOVED***
  color: #212938;

***REMOVED***

.tablink.is-active ***REMOVED***
    color: #01B482;
    background-color: #252F41;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
***REMOVED***

.c-tab ***REMOVED***
    display: none;
***REMOVED***

.c-tab.is-active ***REMOVED***
    display: block;
***REMOVED***

.tabcontent ***REMOVED***
    color: #fff;
    padding-left: 0.1rem;
    overflow-y: auto;
    overflow-x: hidden;
***REMOVED***

.tabcontentinner ***REMOVED***
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    letter-spacing: 0.8px;
***REMOVED***

.tabcontentinnerdif ***REMOVED***
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    letter-spacing: 0.8px;
    background-color: #232f3f;
    height: 65%;
    overflow-y: auto;
***REMOVED***

.tabcontent h2 ***REMOVED***
    font-family: "Avenir Next", sans-serif;
    line-height: 2em;
    height: 2em;
    border-left: 5px solid #01B482;
    font-size: 1.05em;
    letter-spacing: 0.86px;
    text-decoration: none;
    padding: 3px;
    text-indent:2%;
    font-weight: normal;
***REMOVED***

#selectedtab ***REMOVED***
    margin-bottom: 5%;
***REMOVED***
.selectedtabwow ***REMOVED***
    margin-bottom: 5%;
    text-decoration: none;
***REMOVED***

/* Tabs no-js fallback */
.c-tabs.no-js .tabnav***REMOVED***
    display: none;
***REMOVED***

.c-tabs.no-js .c-tab ***REMOVED***
    display: block;
    margin-bottom: 1.5rem;
***REMOVED***

.c-tabs.no-js .c-tab: last-child ***REMOVED***
    margin-bottom: 0;
***REMOVED***

#overflowss ***REMOVED***
    height: calc(95vh - 60px - 15px - 50px);
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;   
***REMOVED***

#overflowing ***REMOVED***
    height: calc(95vh - 75px - 15px);
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
***REMOVED***

.playlistbtn ***REMOVED***
    position: fixed;
    background-color: #05AC81;
    width: 18%;
    height: 50px;
    z-index: 10;
    bottom:0;
    color: #fff;
    height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    border-top: 1px solid #242A34;
    cursor: pointer;
***REMOVED***

.playlistbtn:hover ***REMOVED***
    background-color:#212938;
    border-top: 1px solid #242A34;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
***REMOVED***

.playlistbtn span ***REMOVED***
    position: relative;
    top: calc(50% - 0.5em);
***REMOVED***

.playlistbtn2 ***REMOVED***
    background-color: #05AC81;
    color: #fff;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
***REMOVED***

.descript ***REMOVED***
    margin: 20px;
    font-size: .9em;
***REMOVED***

/*----------- Other ---------*/

.spotbutton***REMOVED*** 
    color: #fff;
    background-color: #00B685;
    float: left;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 0 auto;
***REMOVED***

/* ------------- Main Body of the Tree Container ------------ */

#tree-container ***REMOVED***
    position: fixed;
    margin-top: 0;
    width: 82%;
    height: calc(98vh - 60px);
    z-index: -111;
***REMOVED***

.text-overflow ***REMOVED***
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
***REMOVED***

.textboxLabel ***REMOVED***
    pointer-events: none;
***REMOVED***

.tSpanText ***REMOVED***
    fill: "#ff004e";
***REMOVED***

.node ***REMOVED***
    cursor: pointer;
***REMOVED***

.overlay ***REMOVED***
***REMOVED***


.node circle, .node rect ***REMOVED***
    box-shadow: 10px 10px 5px #888888;
***REMOVED***

.node text ***REMOVED***
    font-size: 10px;
    font-family: "Avenir Next", sans-serif;
***REMOVED***

.link ***REMOVED***
    fill: none;
    stroke: #979797;
    stroke-width: .8px;
***REMOVED***

.line ***REMOVED***
    cursor: none;
    pointer-events: none;
***REMOVED***

/* ------------- Bottom Bar Sliders ------------ */

.range-slider ***REMOVED***
    width: 150px;
    height: 2px !important;
***REMOVED***

.generate-range-slider ***REMOVED***
    width: 100%;
    height: 5px !important; 
***REMOVED***

.range-slider .ui-slider-range, .generate-range-slider .ui-slider-range ***REMOVED***
    height: 5px !important;  
    background: #4B9877;
***REMOVED***

.range-slider .ui-slider-handle.ui-corner-all.ui-state-default, .generate-range-slider .ui-slider-handle.ui-corner-all.ui-state-default ***REMOVED***
    background: #282828;
    height: 10px !important;  
***REMOVED***

.range-slider2 .ui-slider-handle.ui-corner-all.ui-state-default ***REMOVED***
    background: #282828; 
***REMOVED***

.range-slider-text ***REMOVED***
    margin-top: 5px;
    padding: .5%;
    height: 20px;
    color: #cfcfcf;
***REMOVED***

.range-slider-text2 ***REMOVED***
    margin-top: 5px;
    padding: .5%;
    height: 20px;
    color: #000;
***REMOVED***

li ***REMOVED***
    overflow: auto;
***REMOVED***

/* --------- Select2 CSS for searching tracks and artists -------- */
.clearfix: before, .clearfix: after ***REMOVED***
    content: " ";
    display: table;
***REMOVED***

.clearfix: after ***REMOVED***
    clear: both;
***REMOVED***

.select2-result-repository ***REMOVED***
    padding-top: 4px;
    padding-bottom: 3px;
***REMOVED***

.select2-result-repository__avatar ***REMOVED***
    float: left;
    width: 40px;
    margin-right: 10px;
***REMOVED***

.select2-result-repository__avatar img ***REMOVED***
    width: 100%;
    height: auto;
    border-radius: 2px;
***REMOVED***

.select2-result-repository__meta ***REMOVED***
    margin-left: 15px;
***REMOVED***

.select2-result-repository__title ***REMOVED***
    color: black; font-weight: bold;
    word-wrap: break-word;
    line-height: auto;
    margin-bottom: 4px;
***REMOVED***

.select2-result-repository__forks, .select2-result-repository__stargazers ***REMOVED***
    margin-right: 1em;
***REMOVED***
.select2-result-repository__forks, .select2-result-repository__stargazers, .select2-result-repository__watchers ***REMOVED***
    display: inline-block;
    color: #aaa;
    font-size: 11px;
***REMOVED***

.select2-result-repository__description ***REMOVED***
    font-size: 13px;
    color: #777;
    margin-top: 4px;
***REMOVED***

.select2-results__option--highlighted .select2-result-repository__title ***REMOVED***
    color: white;
***REMOVED***

.select2-results__option--highlighted .select2-result-repository__forks, .select2-results__option--highlighted .select2-result-repository__stargazers, .select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-repository__watchers ***REMOVED***
    color: #c6dcef;
***REMOVED***

.select2-container--adwitt .select2-results > .select2-results__options ***REMOVED***
    max-height: 300px;
***REMOVED***
.select2-results__options ***REMOVED***
    overflow-y: auto;
***REMOVED***