
input[type=text], input[type=password], input[type=email] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #72d6f5;
    border-radius: 0;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    box-shadow: none;
}


input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    box-shadow: none;
    border-bottom: 1px solid #6eafc4;
}
.btn{
    background-color: #83C7F2 !important;
}
form{
    padding:80px;
}

.inner-form{
    background:#FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

label{
    font-weight:400;
    font-size:15px;
}

.form-control {
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    font-size:14px;
    margin-bottom:30px;
    border: 1px solid #f1f1f1;
}

.form-control select {
    color: #000 !important;
}

select {
    color: #000 !important;
}

.btn{ 
    background: #72d6f5;
    color: #FFF;
    border-radius: 6px;
    margin: 0 auto;
    height: 48px;
    line-height: 38px;
    display: table;
    font-size: 15px;
    width: 100%;
    border:none;
    margin:5px;
}

.btn-save {
    background: #94d759 !important;

}

.btn:hover{

    border:none;
}

.forgot{
    text-align:center;
    margin-top:30px;
    font-size:16px;
}