body {
    background-color: #fff;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5em;
    line-height: 1em;
}
h1 {
    padding:.5em;
}

.navbar {
    height: 60px !important;
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    border-bottom: .5px solid #DFDFDF;
}

.navbar li a, .navbar .navbar-brand {
    color: #83C7F2 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #83C7F2 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #83C7F2 !important;
}

.jumbotron {
 background-color:#fff;
}
.space{
   padding-top: 10em;
   margin-bottom: 10em;
}

.btn{
    background-color: #83C7F2 !important;
}

select{
   color: black;
   background-color: white;
}

#stats_table, #dashboard_table {
    margin-top: 3%;
    margin-left: 15%;
    border: 1px solid black;
}

#stats_table, #dashboard_table tr, th, td {
    padding: 5px;
    border: 1px solid black;
    font-size: 15px;
}

#advtitle, #dash_advtitle {
    padding-top: 3%;
    padding-bottom: 5px;
    margin-left: -600px;
    font-size: 15px;
}

#advstats_table, #dash_advstats_table {
    
    margin-left: 15%;
    border: 1px solid black;
}

#advstats_table, #dash_advstats_table tr, th, td {
    padding: 5px;
    border: 1px solid black;
    font-size: 15px;
}

#active {
    position:relative;
    display:inline-block;
    float: left;
    font-size: 15px;
}

#active li{
  list-style: none;
  padding-top: 15px;
  padding-bottom:  15px;
}

#scat_hex {
    float: right;
    padding-right: 5%;
}

#scat_hex li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

#scat_hex button {
    font-size: 16px;
    padding: 5px 5px;
}
