#parent {
    display: flex;
}

#left_court {
    position: absolute;
    width: 437.5px;
    height: 412.75px;
    margin-left: 294px;
}

#btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 420px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}

body { 
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 100%; 
}

#left_sc{
    margin-left: auto;
    margin-right: auto;
}

#right_sc {
    margin-left: auto;
    margin-right: auto;
}

svg {
    stroke-width: .2;
}

svg text {
    font-size: .2em;
}

svg text.legend-text {
    font-size: .075em;
}

svg rect {
    stroke: black; 
    width: 1;
    fill: none;
}

svg line {
    stroke: black; 
    fill: none;
    width: 1;
}

svg circle {
    stroke: black; 
    fill: none;
}

circle.shot.make {
    fill: green;
    stroke: white;
    stroke-width: .05;
}

circle.shot.miss {
    fill: red;
    stroke: white;
    stroke-width: .05;
}

path.shot {
    stroke: white; 
    fill: none;
    stroke-width: .05;
}

path {
    stroke: white;
    stroke-width: .05;
}
